<h1 class="text-2xl font-bold mb-4">Admin Dashboard</h1>
<h2 class="text-xl mb-2">All Meetings</h2>
<table class="w-full border">
  <thead>
    <tr class="bg-gray-200">
      <th class="p-2">User</th>
      <th class="p-2">Start Time</th>
      <th class="p-2">Duration</th>
      <th class="p-2">Status</th>
      <th class="p-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr class="border-t">
        <td class="p-2"><%= meeting.user.email %></td>
        <td class="p-2"><%= meeting.start_time.strftime('%Y-%m-%d %H:%M') %></td>
        <td class="p-2"><%= meeting.duration %> min</td>
        <td class="p-2"><%= meeting.status %></td>
        <td class="p-2">
          <%= link_to 'Cancel', admin_meeting_path(meeting), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-500' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2 class="text-xl mb-2">Meeting Calendar</h2>
<%= month_calendar(events: @meetings, attribute: :start_time) do |date, meetings| %>
  <div class="border p-2">
    <%= date %>
    <% meetings.each do |meeting| %>
      <div class="text-sm text-blue-600">
        <%= meeting.start_time.strftime('%H:%M') %> - <%= meeting.user.email %> (<%= meeting.status %>)
      </div>
    <% end %>
  </div>
<% end %>